.dxisControl .dxis-itemTextArea {
    bottom: 0;
    opacity: 0.6;
    padding: 0px;
    color: transparent;
    background-color: white;
    text-align: center;
}

.dxisControl .dxis-itemTextArea a {
    color: white;
}
.dxisControl .dxis-itemTextArea a:hover, a:focus {
    text-decoration: underline;
}
.dxisControl .dxis-itemTextArea p {
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0;
}
.dxisControl .dxis-itemTextArea > p {
    margin-bottom: 0 !important;
}

.dxisControl .dxis-nbDotsBottom .dxis-nbSlidePanel {
    right: 15px;
    left: auto !important;
    transform: matrix(1, 0, 0, 1, 0, 0) !important;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0) !important;
}
.isdemoH3 {
    font-size: 70px !important;
    color: black;
    text-align: center;
    margin: 0px;
    height: 95px;
}

.dxis-item img{
    opacity:0.7;
}

ul#uList {
    list-style: none;
}

ul#uList li{
    list-style: none;
    width: 150px;
    height: 150px;
        float: left;
        margin: 5px;
    position: relative;
    display: block;
}

ul#uList div {
    width: 100%;height: 100%;
    display: block;
    background-size: cover;
    opacity: 0.2;

    
}
ul#uList a {
    display: block;
    text-decoration: none;
    margin: 10px 10px;
    height: 140px;
    width: 140px;
    float: left;
    color: black;
    font-size: large;
    word-wrap: break-word;
    overflow: hidden;
    position: relative;
    top: -156px;
    font-family: Segoe UI;
}
h2.titles {
    text-align: center;
    font-family: Segoe UI;
}